<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ActionClass Automation Script" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="basic.selenium.TestNGListeners">
        </listener>
    </listeners>
<test name="Regression">
<!--    <groups>-->
<!--        <run>-->
<!--            <include name="smoke"/>-->
<!--        </run>-->
<!--    </groups>-->
<classes>
    <class name="pages.ActionDemo">
    </class>

</classes>
</test>
        </suite>