<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/kawsar/Documents/UiFramWork">
        <classes>
            <class name="basic.selenium.AutoSuggestionDropdownTest">
                <methods>
                    <include name="testAutoSuggestionDropdown"/>
                </methods>
            </class>
            <class name="basic.selenium.DemoTest">
                <methods>
                    <include name="testLocators"/>
                </methods>
            </class>
            <class name="basic.selenium.DropdownAndCheckboxTest">
                <methods>
                    <include name="testUpdatedDropdown"/>
                </methods>
            </class>
            <class name="basic.selenium.DropdownTest">
                <methods>
                    <include name="testDropdown"/>
                </methods>
            </class>
            <class name="basic.selenium.DynamicDropdownAndHandlingCalenderTest">
                <methods>
                    <include name="testDynamicDropdown"/>
                </methods>
            </class>
            <class name="basic.selenium.E2ETestTest">
                <methods>
                    <include name="EndToEnd"/>
                </methods>
            </class>
            <class name="basic.selenium.ExcelTest">
                <methods>
                    <include name="excelTest"/>
                </methods>
            </class>
            <class name="basic.selenium.FramesTest">
                <methods>
                    <include name="testFrames"/>
                </methods>
            </class>
            <class name="basic.selenium.HandleJavaScriptAlertTest">
                <methods>
                    <include name="EndToEnd"/>
                </methods>
            </class>
            <class name="basic.selenium.JavaScriptExecutorTest">
                <methods>
                    <include name="javaScriptExecutor"/>
                </methods>
            </class>
            <class name="basic.selenium.LinksTest">
                <methods>
                    <include name="testScope"/>
                </methods>
            </class>
            <class name="basic.selenium.MultipleWindowsHandleTest">
                <methods>
                    <include name="testMultipleWindows"/>
                </methods>
            </class>
            <class name="basic.selenium.SalesForceTest">
                <methods>
                    <include name="testLocators"/>
                </methods>
            </class>
            <class name="basic.selenium.TableExerciseTest">
                <methods>
                    <include name="testTableGrid"/>
                </methods>
            </class>
            <class name="pages.test.ActionDemo">
                <methods>
                    <include name="mouseHover"/>
                    <include name="writeInCaps"/>
                </methods>
            </class>
            <class name="pages.test.AddToCart">
                <methods>
                    <include name="addToCart"/>
                </methods>
            </class>
            <class name="pages.test.CalenderHandle">
                <methods>
                    <include name="testHandleCalender"/>
                </methods>
            </class>
            <class name="qa.click.academy.tests.LandingPageTest">
                <methods>
                    <include name="testLandingPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>